/* .slider {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    padding: 0;
  } */
  
  .slide {
    flex: 0 0 auto;
    
  }
  
  .slide:first-child {
    margin-left: 0; /* Remove left padding for the first card */
  }
  
  .slide:last-child {
    margin-right: 0; /* Remove right padding for the last card */
  }
  
  /* .slider-controls {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    opacity: 0.5;
    transition: opacity 0.3s ease;
  }
  
  .slider-controls:hover {
    opacity: 1;
  }
  

  
  .slider-control-btn:hover {
    background-color: #ccc;
  } */